@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-color-rgb: 0, 0, 0;
  --background-color-rgb: 241, 241, 241;
}

@media (prefers-color-scheme: dark) {
  :root {
    --font-color-rgb: 255, 255, 255;
    --background-color-rgb: 31, 31, 31;
  }
}

body {
  color: rgb(var(--font-color-rgb));
  background: rgb(var(--background-color-rgb));
}
